
@model List<Product>

@section Footer
{
    <div>
        Only For Index Footer. <br>
        <b>Pınar aşkımın hayatamın anlamı.</b>
    </div>
}
    


@foreach (Product prd in Model)
{
    <partial name="_ProductCard" model="@prd"/>
}